{% extends 'index.html' %}
{% block title %} Lista de Alunos {% endblock %}

{% block content %}
<div class="container text-center">
    <h2>Lista completa dos Alunos</h2>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if object_list %}
            {% for aluno in object_list %}
              <tr>
                <th scope="row">{{ aluno.id }}</th>
                <td><a href="{% url 'admin_detalhes' pk=aluno.id %}" class="text-white">{{ aluno.get_full_name }}</a></td>
                <td>{{ aluno.email }}</td>
                <td>
                  <a href="{% url 'admin_edit' aluno.id %}" class="btn btn-warning btn-sm">Editar</a>
                  <a href="{% url 'admin_remover' aluno.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este aluno?');">Remover</a>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">Nenhum usuário cadastrado no sistema!</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
</div>
{% endblock %}
